{% extends 'global_base.html' %}
{% load static %}

{% block title %}{% if edit_mode %}Edit{% else %}Create{% endif %} Workflow - {{ project.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'project_app/css/project_app.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid" style="max-width: 1280px;">
    {% include 'project_app/partials/_project_header.html' %}
    {% include 'project_app/partials/_repo_tabs.html' with active_tab='actions' %}

    <h1 style="margin: 1.5rem 0;">{% if edit_mode %}Edit Workflow{% else %}Create New Workflow{% endif %}</h1>

    <div class="editor-container">
        {% include 'project_app/actions/partials/_workflow_templates_sidebar.html' %}
        {% include 'project_app/actions/partials/_workflow_editor_form.html' %}
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'project_app/js/workflow_editor.js' %}"></script>
{% endblock %}
