{% extends "base_global.html" %}

{% load static %}

{% block title %}SciTeX - Scientific Research Platform{% endblock %}

{% block meta_description %}SciTeX - The complete scientific research platform for researchers and academics{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pages/landing.css' %}">
<link rel="stylesheet" href="{% static 'css/pages/landing-enhanced.css' %}">
<link rel="stylesheet" href="{% static 'common/css/hero-gradients.css' %}">
{% endblock %}

{% block content %}

{% include 'cloud_app/landing_partials/hero.html' %}

{% include 'cloud_app/landing_partials/ecosystem.html' %}

{% include 'cloud_app/landing_partials/demos.html' %}

{% include 'cloud_app/landing_partials/commitment.html' %}

{% endblock %}

{% block extra_js %}
<script src="{% static 'js/module-cards.js' %}"></script>
{% endblock %}
