{% extends "global_base.html" %}
{% load static %}

{% block title %}Pull Requests - {{ project.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'project_app/css/project_app.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid" style="max-width: 1280px;">
    {% include 'project_app/browse/partials/_project_header.html' %}
    {% include 'project_app/browse/partials/_repo_tabs.html' with active_tab='pulls' %}

    <div class="row tab-content-spacing">
        <div class="col-12">
            {% include 'project_app/pull_requests/partials/_pr_list_filters.html' %}
            {% include 'project_app/pull_requests/partials/_pr_list_search.html' %}

            {% if prs %}
                {% include 'project_app/pull_requests/partials/_pr_list_items.html' %}
                {% include 'project_app/pull_requests/partials/_pr_list_pagination.html' %}
            {% else %}
                {% include 'project_app/pull_requests/partials/_pr_list_empty.html' %}
            {% endif %}
        </div>
    </div>
</div>

{% include 'project_app/browse/partials/_project_scripts.html' %}
{% endblock %}
