/* ========================================================================
   DISPLAY UTILITIES
   ======================================================================== */

.block {
  display: block !important;
}
.inline-block {
  display: inline-block !important;
}
.inline {
  display: inline !important;
}
.flex {
  display: flex !important;
}
.inline-flex {
  display: inline-flex !important;
}
.grid {
  display: grid !important;
}
.hidden {
  display: none !important;
}

