{% comment %}
Shared sidebar partial for Writer app
{% endcomment %}

<aside class="writer-sidebar">
    <nav class="sidebar-nav">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="{% url 'writer_app:editor' %}" class="nav-link">
                    <i class="icon-edit"></i>
                    <span>Editor</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'writer_app:compilation_view' %}" class="nav-link">
                    <i class="icon-compile"></i>
                    <span>Compilations</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="icon-git"></i>
                    <span>Version Control</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'writer_app:submit' %}" class="nav-link">
                    <i class="icon-arxiv"></i>
                    <span>arXiv</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'writer_app:session' %}" class="nav-link">
                    <i class="icon-users"></i>
                    <span>Collaboration</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>
