{% comment %}
Shared toolbar partial for Writer app
{% endcomment %}

<div class="writer-toolbar">
    <div class="toolbar-left">
        <button class="btn-toolbar" id="btn-save">
            <i class="icon-save"></i> Save
        </button>
        <button class="btn-toolbar" id="btn-compile">
            <i class="icon-compile"></i> Compile
        </button>
    </div>

    <div class="toolbar-center">
        <div class="document-status">
            <span id="save-status">Saved</span>
        </div>
    </div>

    <div class="toolbar-right">
        <button class="btn-toolbar" id="btn-settings">
            <i class="icon-settings"></i>
        </button>
    </div>
</div>
