{% extends "writer_app/base_writer.html" %}
{% load static %}

{% block title %}SciTeX Writer - Collaborative Editor{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/hero.css' %}">
<link rel="stylesheet" href="{% static 'writer_app/css/collaborative-editor.css' %}">
{% endblock %}

{% block content %}
<!-- Hidden data attributes for JavaScript -->
<div class="hidden">
    <span data-manuscript-id="{{ manuscript.id }}" id="manuscript-data"></span>
    <span data-repository-url="{{ repository_url }}" id="repository-data"></span>
</div>

<div class="writer-container">
    {% include "writer_app/collaborative_editor_partials/header.html" %}

    <div class="container">
        {% include "writer_app/collaborative_editor_partials/action_bar.html" %}
        {% include "writer_app/collaborative_editor_partials/progress_overview.html" %}

        <!-- Manuscript Sections -->
        {% include "writer_app/collaborative_editor_partials/section_abstract.html" %}
        {% include "writer_app/collaborative_editor_partials/section_introduction.html" %}
        {% include "writer_app/collaborative_editor_partials/section_methods.html" %}
        {% include "writer_app/collaborative_editor_partials/section_results.html" %}
        {% include "writer_app/collaborative_editor_partials/section_discussion.html" %}
        {% include "writer_app/collaborative_editor_partials/section_conclusion.html" %}
    </div>
</div>
{% endblock %}

{% include "writer_app/collaborative_editor_partials/scripts.html" %}
