{% extends 'base.html' %}
{% load static %}

{% block title %}Compilation - {{ project.name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/common/buttons.css' %}">
<link rel="stylesheet" href="{% static 'writer_app/css/compilation-view.css' %}">
{% endblock %}

{% block content %}
<div class="compilation-container">
    {% include "writer_app/compilation_view_partials/header.html" %}
    {% include "writer_app/compilation_view_partials/progress_bar.html" %}
    {% include "writer_app/compilation_view_partials/log_viewer.html" %}

    <!-- Side-by-Side PDF Viewers -->
    <div class="compilation-grid">
        {% include "writer_app/compilation_view_partials/pdf_manuscript.html" %}
        {% include "writer_app/compilation_view_partials/pdf_diff.html" %}
    </div>

    {% include "writer_app/compilation_view_partials/change_attribution.html" %}
</div>
{% endblock %}
