{% extends 'writer_app/writer_base.html' %}
{% load static %}

{% block title %}LaTeX Editor - SciTeX Writer{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'writer_app/css/latex-editor.css' %}">
{% endblock %}

{% block content %}
<div class="mvp-container">
  {% include "writer_app/latex_editor_partials/sidebar.html" %}

  <!-- Main Editor Area -->
  <div class="mvp-main">
    {% include "writer_app/latex_editor_partials/toolbar.html" %}

    <!-- Editor and Preview -->
    <div class="mvp-editor">
      {% include "writer_app/latex_editor_partials/editor_area.html" %}
      {% include "writer_app/latex_editor_partials/preview_panel.html" %}
    </div>
  </div>
</div>

{% include "writer_app/latex_editor_partials/scripts.html" %}
{% endblock %}
