{% extends "writer_app/writer_base.html" %}
{% load static %}

{% block title %}Version Control - {{ manuscript.title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/hero.css' %}">
<link rel="stylesheet" href="{% static 'writer_app/css/version-control-dashboard.css' %}">
{% endblock %}

{% block content %}
<!-- Hidden data attributes for JavaScript -->
<div class="hidden">
    <span data-manuscript-id="{{ manuscript.id }}" id="manuscript-data"></span>
    <span data-user-id="{{ user.id }}" id="user-data"></span>
</div>

<div class="version-control-container">
    {% include "writer_app/version_control_dashboard_partials/header.html" %}

    <div class="container">
        <!-- Dashboard Grid -->
        <div class="dashboard-grid">
            {% include "writer_app/version_control_dashboard_partials/version_list.html" %}
            {% include "writer_app/version_control_dashboard_partials/branch_list.html" %}
        </div>

        {% include "writer_app/version_control_dashboard_partials/merge_requests.html" %}
        {% include "writer_app/version_control_dashboard_partials/diff_viewer.html" %}
    </div>
</div>

{% include "writer_app/version_control_dashboard_partials/modal_create_version.html" %}
{% include "writer_app/version_control_dashboard_partials/modal_create_branch.html" %}
{% endblock %}
