{% extends "writer_app/writer_base.html" %}
{% load static %}

{% block title %}Writer Dashboard - SciTeX{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'writer_app/css/writer-dashboard.css' %}">
{% endblock %}

{% block content %}
{% include "writer_app/writer_dashboard_partials/hero.html" %}
{% include "writer_app/writer_dashboard_partials/statistics.html" %}
{% include "writer_app/writer_dashboard_partials/quick_actions.html" %}
{% include "writer_app/writer_dashboard_partials/recent_documents.html" %}
{% include "writer_app/writer_dashboard_partials/recent_compilations.html" %}
{% include "writer_app/writer_dashboard_partials/features.html" %}
{% endblock %}
