{% load static %}
{% if debug %}{% load django_browser_reload %}{% endif %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% include 'global_base_partials/page_title.html' %}</title>
        {% include 'global_base_partials/global_head_meta.html' %}
        {% include 'global_base_partials/global_head_styles.html' %}
        {% block head_extra %}{% endblock %}
        {% block extra_css %}{% endblock %}
    </head>
    <body data-user-authenticated="{% if user.is_authenticated %}true{% else %}false{% endif %}"
          class="{% if request.path == '/' %}workspace-page landing-page{% elif '/code/' in request.path %}workspace-page code-workspace{% elif '/vis/' in request.path %}workspace-page vis-workspace{% elif '/writer/' in request.path %}workspace-page writer-page{% elif '/scholar/' in request.path %}workspace-page scholar-page{% endif %}">
        {% include 'global_base_partials/global_header.html' %}
        <!-- Django Messages -->
        {% if messages %}
            <div class="container django-messages-container">
                {% for message in messages %}
                    <div class="django-alert alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}"
                         role="alert">
                        {{ message|safe }}
                        <button type="button"
                                class="alert-close-btn"
                                aria-label="Close">&times;</button>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        <main id="main-content">
            {% block content %}{% endblock %}
        </main>
        {% include 'global_base_partials/global_footer.html' %}
        {% include 'global_base_partials/global_body_scripts.html' %}
        {% block extra_js %}{% endblock %}
        {% django_browser_reload_script %}
    </body>
</html>
