{% extends "global_base.html" %}
{% load static %}
{% block title %}
    {{
    breadcrumb_path }} - {{ project.name }}
{% endblock %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'project_app/css/project_app.css' %}" />
    <link rel="stylesheet"
          href="{% static 'project_app/css/repository/browse.css' %}" />
    <link rel="stylesheet"
          href="{% static 'project_app/css/repository/browse/tabs.css' %}" />
    <link rel="stylesheet"
          href="{% static 'project_app/css/repository/browse/toolbar.css' %}" />
    <link rel="stylesheet"
          href="{% static 'project_app/css/shared/sidebar.css' %}" />
    <link rel="stylesheet"
          href="{% static 'project_app/css/shared/file-tree.css' %}" />
    <link rel="stylesheet"
          href="{% static 'project_app/css/shared/buttons.css' %}" />
{% endblock %}
{% block content %}
    <div class="container-fluid browse-container">
        {% include 'project_app/repository/browse_partials/browse_header.html' %}
        {% include 'project_app/repository/browse_partials/browse_tabs.html' with active_tab='code' %}
        <!-- Main Content Area with Sidebar -->
        <div class="repo-layout" id="repo-layout">
            {% include "project_app/repository/browse_partials/browse_sidebar.html" %}
            <!-- Main Content (RIGHT side) -->
            <div class="repo-main">
                {% include "project_app/repository/browse_partials/browse_file_browser.html" %}
            </div>
        </div>
    </div>
    {% include 'project_app/repository/browse_partials/browse_scripts.html' %}
{% endblock %}
