[Unit]
Description=SciTeX Cloud uWSGI daemon
After=network.target

[Service]
User=ywatanabe
Group=ywatanabe
WorkingDirectory=/home/ywatanabe/proj/SciTeX-Cloud
Environment="PATH=/home/ywatanabe/proj/SciTeX-Cloud/.env/bin"
Environment="DJANGO_SETTINGS_MODULE=config.settings.production"
ExecStart=/home/ywatanabe/proj/SciTeX-Cloud/.env/bin/uwsgi --ini config/uwsgi_prod.ini
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target